
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submit" value="Table" class="btn btn-default" /><br />
            <input type="submit" name="submit" value="Categories" class="btn btn-default" /><br />
            <input type="submit" name="submit" value="Menu Items" class="btn btn-default" /><br />
            <input type="submit" name="submit" value="Waiter Management" class="btn btn-default" /><br />
        </div>
    </div>
}
