@model IEnumerable<MVCRestaurant27Tem2022.Models.RTable>
<style>
    .tableStatusMain {
        margin: 1%;
    }

    .tableStatus {
        border-radius: 10%;
        background-color: greenyellow;
        color: red;
        float: left;
        width: 10%;
        padding: 10px;
        height: 100px;
        margin: 1%;
    }
</style>

@{
    ViewBag.Title = "Tables";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="tableStatusMain">
    @{int i = 0;}

    @foreach (var item in Model)
    {

    <div class="tableStatus">
        <h1>@Html.DisplayFor(modelItem => item.id_rtable)</h1>
        @Html.ActionLink(Convert.ToString(item.tstatus) , "Create")
        @*@Html.DisplayFor(modelItem => item.tstatus)*@
    </div>


    }
</div>


