@model IEnumerable<MVCRestaurant27Tem2022.Models.RTable>
<style>
    .intro {
        background-color: yellow;
        width : 90%;
    }
    .tableStatus {
        background-color: greenyellow;
        color: red;
        float: left;
        width: 9%;
        padding: 10px;
        height:100px;
    }
</style>

@{
    ViewBag.Title = "Tables";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @{int i = 0;}

    @foreach (var item in Model)
    {
        if (i == 0)
        {
            
        }

        <div class="tableStatus">
            @Html.DisplayFor(modelItem => item.id_rtable)
            @Html.DisplayFor(modelItem => item.tstatus)
        </div>
        i++;
        if (i == 10)
        {
            <br />
            i = 0;
        }
    }
</div>

